html {
  font-family: "Poppins",sans-serif;
  font-size: 16px;
  line-height: 1.75;
  color: #094457;
  text-rendering: optimizeLegibility;
}

body {
  border: 0;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
  line-height: 1.2;
  font-weight: 600;
  color: #094457;
  margin-top: 0.25em;
  margin-bottom: 0.5em;
}

p, pre {
  margin-top: 0;
  margin-bottom: 1em;
}

article {
  border-top: 4px solid #094457;
  padding-top: 8px;
}

#mainnav {
  background-color: #176c88;
  color: white;
  padding: 5px;
}

#mainnav a:link, #mainnav a:hover, #mainnav a:visited, #mainnav a:active {
  color: white;
  text-decoration: none;
}

#langnav a:link {
  text-decoration: underline;
}

#sitename {
  font-weight: bold;
  font-size: 38px;
  margin-left: 20px;
}

#langnav {
  list-style-type: none;
  margin-right: 5px;
  float: right;
}

#langnav li {
  display: inline;
  margin-left: 10px;
}

#main {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

#certificate {
  text-align: center;
}

#logo {
  float: left;
  margin-right: 1rem;
}

.staff {
  text-decoration: underline;
  font-weight: bold;
}

#address {
  margin-top: 80px;
  text-align: left;
}

#first_and_last_name {
  font-weight: bold;
  font-size: 1.3rem;
}

#course_title {
  font-weight: bold;
  font-size: 1.1rem;
}

